Swift/Project-Model/Project-Swift/Pods/Pods.xcodeproj/xcuserdata/erico.xcuserdatad/xcschemes/Alamofire.xcscheme
Swift/Project-Model/Project-Swift/Pods/Pods.xcodeproj/xcuserdata/erico.xcuserdatad/xcschemes/Pods-Project-Swift.xcscheme
Swift/Project-Model/Project-Swift/Pods/Pods.xcodeproj/xcuserdata/erico.xcuserdatad/xcschemes/SCLAlertView.xcscheme
Swift/Project-Model/Project-Swift/Pods/Pods.xcodeproj/xcuserdata/erico.xcuserdatad/xcschemes/SwiftyJSON.xcscheme
