Objective-C/Project-Model/Project-ObjectiveC/Pods/*
Swift/Project-Model/Project-Swift/Pods/*
Objective-C/Project-Model/Project-ObjectiveC/Project-ObjectiveC.xcodeproj/xcuserdata/lordesire.xcuserdatad/xcschemes/Project-ObjectiveC.xcscheme
Objective-C/Project-Model/Project-ObjectiveC/Project-ObjectiveC.xcodeproj/xcuserdata/lordesire.xcuserdatad/xcschemes/xcschememanagement.plist
Prototypes/Raspadinha/Pods/Pods.xcodeproj/xcuserdata/lordesire.xcuserdatad/xcschemes/xcschememanagement.plist
Prototypes/Raspadinha/Raspadinha.xcodeproj/xcuserdata/lordesire.xcuserdatad/xcschemes/xcschememanagement.plist
Prototypes/Raspadinha/Raspadinha.xcworkspace/xcuserdata/lordesire.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
Swift/Project-Model/Project-Swift/Project-Swift.xcworkspace/xcuserdata/lordesire.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
Swift/Project-Model/Project-Swift/Project-Swift/Pods/*
Swift 4/Project-Model/Project-Swift/Pods/Pods.xcodeproj/xcuserdata/ericogt.xcuserdatad/xcschemes/xcschememanagement.plist
Swift 4/Project-Model/Project-Swift/Project-Swift.xcodeproj/xcuserdata/ericogt.xcuserdatad/xcschemes/xcschememanagement.plist
Swift 4/Project-Model/Project-Swift/Project-Swift.xcworkspace/xcuserdata/ericogt.xcuserdatad/UserInterfaceState.xcuserstate
