<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>inProduction</key>
	<true/>
	<key>developmentAppKey</key>
	<string>PSTljyElT6OzD7VnoyYdFw</string>
	<key>developmentAppSecret</key>
	<string>qwL4R81cRSuc7gQEaDptRA</string>
	<key>productionAppKey</key>
	<string>Mm6WHTK0Rw6oycy5ZYpnBQ</string>
	<key>productionAppSecret</key>
	<string>yUfHxUfMTzGD1bTymbgM9A</string>
</dict>
</plist>
