<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>988274575954-ivcgb6s62vqrimn687gge2dl2ie5d416.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.988274575954-ivcgb6s62vqrimn687gge2dl2ie5d416</string>
	<key>API_KEY</key>
	<string>AIzaSyAAHCUH0h6YaphkzXbm2y7t2etBYjDypaY</string>
	<key>GCM_SENDER_ID</key>
	<string>988274575954</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.walmartbr.Walmart</string>
	<key>PROJECT_ID</key>
	<string>walmart-ca8d8</string>
	<key>STORAGE_BUCKET</key>
	<string>walmart-ca8d8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:988274575954:ios:4e34333d9868130c</string>
	<key>DATABASE_URL</key>
	<string>https://walmart-ca8d8.firebaseio.com</string>
</dict>
</plist>